p{
    font-family: Palanquin;
    font-size: 1rem;
    color: rgba(61, 61, 61, 1);
}

.a2content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.a2content-top{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}