* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Iceland';
    scroll-behavior: smooth;
}

html {
    font-size: 16px;
}
h1{
    font-family:arima;
    font-size: 4rem;
    color: rgba(78, 164, 135, 1);
    font-weight: 700;
}

h2{
    font-family: arima;
    font-size: 3.25rem;
    color: rgba(78, 164, 135, 1);
    font-weight: 700;
}

h3{
    font-family: arima;
    font-size: 2rem;
    color: rgba(78, 164, 135, 1);
    font-weight: 700;
}
h4{
    font-family: palanquin;
    font-size: 2.5rem;
    color: rgba(78, 164, 135, 1);
    font-weight: 600;
}
.headarticle{
    height: 390px;
    display: flex;
    justify-content: space-between;
}

.headarticle-left{
    width: 900px;
    height: 390px;
    display:flex;
    flex-direction: column;
    gap: 0.5rem;
}
.headarticle-left h1{
    color: rgba(241, 201, 83, 1);
    line-height: 1.15;
}

.headarticle-left p{
    font-family: palanquin;
    font-size: 1.75rem;
    line-height: 1.3;
    color: rgba(84, 55, 13, 1);
}

.headarticle-foot{
    display: flex;
    justify-content:left;
    gap: 32px;
}
.headarticle-footelement{
    display: flex;
    align-items: center;
    gap: 6px;
}
.headarticle-footelement p{
    font-family: palanquin;
    font-size: 1rem;
    color: rgba(84, 55, 13, 1);
}

.headarticle-right{
    width: 272px;
    background-color: rgba(78, 164, 135, 0.2);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    gap: 16px;
}

.headarticle-right p:first-child{
    font-family: arima;
    font-size: 1.15rem;
    line-height: 1.1;
    font-weight: 700;
    color: rgba(84, 55, 13, 1);
    text-align: center;
}
.headarticle-right p:nth-child(2){
    font-family: arima;
    font-size: 1.15rem;
    line-height: 1.1;
    color: rgba(84, 55, 13, 1);
    text-align: center;
    margin-bottom: 0.5rem;
}
.headarticle-right p:last-child{
    font-family: palanquin;
    font-size: 1rem;
    line-height: 1.15;
    color: rgba(84, 55, 13, 1);
}